# Node dependencies & build
node_modules/
dist/
.vite/

# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.env.local

# ML Datasets & Weights
runs/
*.pt
.pytest_cache/
backend/training/dataset*/
backend/training/test_dl/

# Large redundant binaries & unused models
frontend/public/onnx-wasm/
frontend/public/models/flower_yolo11s.onnx

